.page {
  max-width: 1280px;
  margin: 0 auto;
  font-family: 'inter', 'Helvetica Neue', Arial, sans-serif;
  background-color: black;
  /* position: relative; */
  
  }




  /* img {
    outline: 1px solid red;
  }

  header{
    outline: 1px solid red;
  }

  div{
    outline: 1px solid red;
  }

  section {
    outline: 1px solid red;
  }

  form {
    outline: 1px solid red;
  } */