.popup__title {
  margin: 0 0 15px;
  margin-bottom: 24px;
  font-size: 24px;
  line-height: 29.05px;
  font-weight: 900;
}

@media screen and (max-width: 530px) {
  .popup__title {
    font-size: 18px;
    line-height: 21.78px;
    margin: 0 0 45px;
  }
}