.header {
  max-width: 880px;
  margin: 45px auto 40px;
  border-bottom: 1px solid #545454;
}

@media screen and (max-width: 320px) {
  .header {
    margin: 28px auto 42px;
    max-width: 282px;
  }
}


