.element__remove {
  background-image: url(../../../images/button-remove.svg);
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  width: 18px;
  height: 19px;
  position: absolute;
  background-color: transparent;
  top: 20px;
  right: 20px;
  cursor: pointer;
  padding: 0;
}

.element__remove:hover { 
  opacity: .5;
}