@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);
@import url(../blocks/page/page.css);
@import url(../blocks/main-content/main-content.css);

/* header */
@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);

/* profile */
@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__avatar/profile__avatar.css);
@import url(../blocks/profile/__button/profile__button.css);
@import url(../blocks/profile/__description/profile__description.css);
@import url(../blocks/profile/__edit-button/profile__edit-button.css);
@import url(../blocks/profile/__info/profile__info.css);
@import url(../blocks/profile/__name/profile__name.css);


/* elements */
@import url(../blocks/elements/elements.css);

@import url(../blocks/element/element.css);
@import url(../blocks/element/__container/element__container.css);
@import url(../blocks/element/__heading/element__heading.css);
@import url(../blocks/element/__image/element__image.css);
@import url(../blocks/element/__like/element__like.css);

/* footer */
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__heading/footer__heading.css);

/* popup */
@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/_opened/popup_edit-profile.css);
@import url(../blocks/popup/_add-card/popup_add-card.css);
@import url(../blocks/popup/__container/popup__container.css);
@import url(../blocks/popup/__title/popup__title.css);
@import url(../blocks/popup/__input/popup__input.css);
@import url(../blocks/popup/__button/popup__button.css);
@import url(../blocks/popup/__close-icon/popup__close-icon.css);