.profile__info {
  width: 100%;
  display: grid;
  grid-template-columns: minmax(min-content, 294px) 24px;
  row-gap: 16px;
  column-gap: 18px;
  align-items: center;
}
  
@media screen and (max-width: 768px) {
  .profile__info {
    max-width: 282px;
    grid-template-columns: minmax(min-content, 189px) 18px;
    row-gap: 14px;
    column-gap: 10px;
    justify-content: center;
    margin: 26px 0 36px;

  }
}