.profile__button {
  max-width: 150px;
  width: 100%;
  height: 50px;
  border: 1px white solid;
  border-radius: 2px;
  background-color: black;
  cursor: pointer;
  background-image: url(../../../images/plus-for-button.png);
  background-repeat: no-repeat;
  background-position: center;

}
  
@media screen and (max-width: 768px) {
  .profile__button {
    max-width: 282px;
  }
}

.profile__button:hover {
  opacity: 0.5;
}